XSD/issfr-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:issfr="http://www.broservices.nl/xsd/issfr/0.9"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:sfrcommon="http://www.broservices.nl/xsd/sfrcommon/0.1"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://www.broservices.nl/xsd/issfr/0.9"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>

   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
   <xs:import namespace="http://www.broservices.nl/xsd/sfrcommon/0.1" schemaLocation="sfrcommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>

   <xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
   <xs:element name="parseFault" type="brocom:ParseFaultType" />

   <xs:element name="correctionRequest" type="issfr:CorrectionRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht CorrectionRequest is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kunnen onjuiste gegevens van een in de BRO geregistreerd booronderzoek worden vervangen.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CorrectionRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:CorrectionRequestType">
            <xs:sequence>
               <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="issfr:CorrectionReasonType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>CorrectionReason</CodeListName>
                        <CodeListURI>urn:bro:bhrgt:CorrectionReason</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens gecorrigeerd worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sourceDocument"
                           type="issfr:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="registrationRequest" type="issfr:RegistrationRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RegistrationRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:RegistrationRequestType">
            <xs:sequence>
               <xs:element name="sourceDocument"
                           type="issfr:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="SFR_ContinuationReport_V1"
               type="issfr:SFR_ContinuationReport_V1Type"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer de rapportage van het bodemkundig wandonderzoek wordt vervolgt en beschrijft de wandbeschrijving, de wandmonsteranalyse of de wandfotografie. De registratie is met dit brondocument aangevuld.
Explanation: Het brondocument wordt aangeboden wanneer het bodemkundig wandonderzoek wordt aangevuld met een volgend deelonderzoek. De vervolgrapportage bestaat uit de wandbeschrijving, de wandmonsteranalyse of de wandfotografie.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SFR_ContinuationReport_V1Type">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="researchArea"
                           type="issfr:ResearchAreaType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het deelonderzoek bestaat uit of de boormonsterbeschrijving of de boormonsteranalyse maar niet beide. De boormonsteranalyse bestaat uit de bepalingen uit fase 1, d.w.z. verticale vervorming, maximale ongedraineerde schuifsterkte, korrelgrootteverdeling, watergehalte, organischestofgehalte, kalkgehalte, volumieke massa en volumieke massa vaste delen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SFR_ContinuationReport_V1PropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="issfr:SFR_ContinuationReport_V1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="SFR_CompleteReport_V1"
               type="issfr:SFR_CompleteReport_V1Type"
               substitutionGroup="issfr:SFR_StartReport_V1">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SFR-volledigRapport-v1 wordt aangeboden wanneer het bodemkundig wandonderzoek bestaat uit 1 deelonderzoek en daarmee volledig wordt gerapporteerd. Het wandonderzoek bestaat uit het algemene deel en de wandbeschrijving.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SFR_CompleteReport_V1Type">
      <xs:complexContent>
         <xs:extension base="issfr:SFR_StartReport_V1Type">
            <xs:sequence>
               <xs:element name="researchReportDate"
                           type="brocom:PartialDateType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het wandonderzoek alle gegevens van het wandonderzoek heeft vastgelegd en het resultaat aan de opdrachtgever kan worden aangeboden, dan wel de feitelijk datum van rapportage.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SFR_CompleteReport_V1PropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="issfr:SFR_CompleteReport_V1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="SFR_EndReport_V1"
               type="issfr:SFR_EndReport_V1Type"
               substitutionGroup="issfr:SFR_ContinuationReport_V1">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer de rapportage van het bodemkundig wandonderzoek wordt vervolgt en daarmee is de rapportage voltooid. Het brondocument beschrijft de wandbeschrijving, de wandmonsteranalyse of wandfotografie. De registratie is met dit brondocument voltooid.
Explanation: Het brondocument wordt aangeboden wanneer het bodemkundig wandonderzoek wordt aangevuld met het laatste deelonderzoek en daarmee volledig is gerapporteerd. De aanvullende rapportage bestaat uit de wandbeschrijving, de wandmonsteranalyse of wandfotografie.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SFR_EndReport_V1Type">
      <xs:complexContent>
         <xs:extension base="issfr:SFR_ContinuationReport_V1Type">
            <xs:sequence>
               <xs:element name="researchReportDate"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het booronderzoek alle gegevens van het booronderzoek heeft vastgelegd en het resultaat aan de opdrachtgever kan worden aangeboden, dan wel de feitelijk datum van rapportage.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SFR_EndReport_V1PropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="issfr:SFR_EndReport_V1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="SFR_StartReport_V1"
               type="issfr:SFR_StartReport_V1Type"
               substitutionGroup="issfr:SFR_ContinuationReport_V1">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SFR-startRapport-v1 wordt aangeboden wanneer het bodemkundig wandonderzoek uit meerdere deelonderzoeken bestaat en het eerste deelonderzoek wordt gerapporteerd. Het wandonderzoek bestaat uit het algemeen deel en de wandbeschrijving. De geregistreerde gegevens worden in de toekomst aangevuld met wandmonsteranalyse en/of wandfotografie.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SFR_StartReport_V1Type">
      <xs:complexContent>
         <xs:extension base="issfr:SFR_ContinuationReport_V1Type">
            <xs:sequence>
               <xs:element name="deliveryContext"
                           minOccurs="1"
                           maxOccurs="1"
                           type="sfrcommon:DeliveryContextType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DeliveryContext</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="surveyPurpose"
                           minOccurs="1"
                           maxOccurs="1"
                           type="sfrcommon:SurveyPurposeType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SurveyPurpose</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het doel waarvoor het onderzoek is uitgevoerd.
Explanation: Onderzoek wordt normaliter projectmatig uitgevoerd, zelfs als het direct gebonden is aan een publieke taak. Het gegeven beschrijft het hogere doel van het project waarvoor het onderzoek is uitgevoerd of preciseert de taak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="discipline"
                           minOccurs="1"
                           maxOccurs="1"
                           type="sfrcommon:DisciplineType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>Discipline</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De discipline waarbinnen het wandonderzoek is uitgevoerd.
Explanation: Het vakgebied bepaalt hoe het onderzoek is uitgevoerd en welke gegevens en categorieën van gegevens vastgelegd kunnen zijn.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="fieldworkDate" type="xs:date" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop het veldwerk is voltooid.
Explanation: Het veldwerk wordt gewoonlijk in een dag uitgevoerd. In het geval het meer dagen in beslag neemt, geldt de datum waarop het veldwerk is beëindigd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchOperator"
                           type="brocom:ChamberOfCommerceNumberType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het wandonderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="litterLayerInvestigated"
                           type="brocom:IndicationYesNoType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of in het onderzoek de laag strooisel die op het maaiveld kan liggen beschreven is.
Explanation: In het bodemkundig wandonderzoek zoals dat door Wageningen Environmental Research wordt uitgevoerd, is het gebruikelijk de laag strooisel die lokaal, bijvoorbeeld in bossen, op het maaiveld ligt als onderdeel van de bodem te beschrijven.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="deliveredLocation"
                           nillable="false"
                           type="sfrcommon:DeliveredLocationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: n.v.t.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="deliveredVerticalPosition"
                           nillable="false"
                           type="sfrcommon:DeliveredVerticalPositionType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: n.v.t.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="brocom:StandardizedLocationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: n.v.t.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="siteCharacteristic"
                           nillable="false"
                           type="sfrcommon:SiteCharacteristicPropertyType"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="soilUncovering"
                           nillable="false"
                           type="sfrcommon:SoilUncoveringPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SFR_StartReport_V1PropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="issfr:SFR_StartReport_V1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="CorrectionReasonType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:bhrgt:CorrectionReason"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="SourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element name="SFR_CompleteReport_V1" type="issfr:SFR_CompleteReport_V1Type"/>
         <xs:element name="SFR_EndReport_V1" type="issfr:SFR_EndReport_V1Type"/>
         <xs:element name="SFR_StartReport_V1" type="issfr:SFR_StartReport_V1Type"/>
         <xs:element name="SFR_ContinuationReport_V1" type="issfr:SFR_ContinuationReport_V1Type"/>
      </xs:choice>
   </xs:complexType>

   <xs:complexType name="ResearchAreaType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="sfrcommon:SoilFaceDescription"/>
         <xs:element ref="sfrcommon:SoilFacePhotography"/>
         <xs:element ref="sfrcommon:SoilFaceSampleAnalysis"/>
      </xs:choice>
   </xs:complexType>
</xs:schema>
