XSD/issfr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="issfr"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:msg="http://www.broservices.nl/xsd/issfr/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/issfr/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/issfr/1.0">

    <wsdl:documentation>
        inname van bodemkundig wandonderzoek (SFR)
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/issfr/1.0" targetNamespace="http://www.broservices.nl/wsdl/issfr/1.0">
            <xsd:import namespace="http://www.broservices.nl/xsd/issfr/1.0" schemaLocation="issfr-messages.xsd" />
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="registrationRequest">
        <wsdl:part name="request" element="msg:registrationRequest" />
    </wsdl:message>

    <wsdl:message name="correctionRequest">
        <wsdl:part name="request" element="msg:correctionRequest" />
    </wsdl:message>

    <wsdl:message name="intakeResponse">
        <wsdl:part name="response" element="msg:intakeResponse" />
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part name="parseFault" element="msg:parseFault" />
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="brocom:deliveryResponsibleParty" />
    </wsdl:message>

    <wsdl:portType name="issfr">
        <wsdl:operation name="register">
            <wsdl:input message="tns:registrationRequest" wsam:Action="http://www.broservices.nl/wus/issfr/registrationRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/issfr/intakeResponse" />
            <wsdl:fault name="parseFault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/issfr/parseSoapFault" />
        </wsdl:operation>
        <wsdl:operation name="correct">
            <wsdl:input message="tns:correctionRequest" wsam:Action="http://www.broservices.nl/wus/issfr/correctionRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/issfr/intakeResponse" />
            <wsdl:fault name="parseFault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/issfr/parseSoapFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="issfr_SOAP" type="tns:issfr">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="register">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="correct">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="issfr">
        <wsdl:port name="issfr_SOAP" binding="tns:issfr_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
